@import url("./styles.css");

p{
    text-align: justify;
}

.consejos{
    margin: 0;
    padding: 0 5vw;
}

.consejos-container{
    background: lightgray;
    padding: 0;
    margin: 0;
    column-count: 4;
    position: relative;

    figure{
        padding: 0;
        margin: 0;
        width: 100%;
        break-inside: avoid;
        img{
            padding: 0;
            margin: 0;
            width: 100%;
        }
    }
    article{
        column-count: 3;
        padding: 0;
        margin: 0;

        p{
            column-span: all;
            width: 75%;
            margin-left: auto;
        }
    }
    h2{
        column-span: all;
        padding: 0;
        margin: 0;
        width: 100%;
        background: var(--moss);
    }/*
    a{
        position: absolute;
        top:0;
        left: 0;
        margin-right: auto;
    }*/

}
