@import url("./styles.css");

p{
    text-align: justify;
}

.consejos{
    margin: 0;
}

.consejos-container > figure{
    background: var(--moss);
    width: 100%;
    height: 90px;
    padding: 0;
    margin: 0;
    border-top-left-radius: var(--radius);
    justify-items: center;
    :hover{
        cursor: pointer;
    }
    img{
        height: 100%;
        width: 35%;
        display: block;
        padding: 5px 0;
        margin: 0;
    }
}

.consejos-container{
    border-radius: var(--radius);
    box-shadow: var(--sombra);
    box-sizing: border-box;
    background: lightgray;
    padding: 0;
    margin: 30px 0;
    column-count: 6;
    column-gap: 0;
    position: relative;
    h2{
        box-sizing: border-box;
        border-top-right-radius: var(--radius);
        height: 90px;
        padding: 38px 0 10px 0;
        margin: 0;
        background: var(--moss);
        width: 500%;
    }
    article{
        margin: 30px;
        margin-top: 15px;
        column-span: all;
        columns: 4 200px;
        column-gap: 30px;
        figure,img{
            border-radius: var(--radius);
            padding: 0;
            margin: 0;
            width: 100%;
            align-items: center;
            break-inside: avoid;
        }
        figure{
            margin: 25% 0;
            height: 100%;
            @media (max-width: 670px) {
                break-after: unset;
                margin: 0;
                margin-bottom: 10px;
            }
            @media (min-width: 670px) {
                break-after: column ;
                margin: 0;
                margin-bottom: 10px;
            }

        }
    }
    p{margin: 0;padding: 0;}
}
