@import url("./styles.css");

.bloque {
    background: #CCC8C4;
    margin: 0 var(--paddings);
    border-radius: var(--radius);
    padding: 0;
    border: solid black 1px;


    nav:not(.tarjetas-favoritos nav) {
        box-sizing: border-box;
        padding: 0 11.5vw;
        @media (max-width:800px){
            padding: 0 9vw;
            p{
                margin-top: 20px;
            }
        }
        margin: 0;
        width: 100%;
        background: var(--moss);
        display: flex;
        justify-content: center;
        border-radius: var(--radius) var(--radius) 0 0;

        ul {
            padding: 0;
            width: 100%;
            height: fit-content;
            display: inline-flex;
            justify-content: space-between;
            list-style: none;
        }

        li {
            margin: 0;
            border: solid black 2px;
            background: var(--piel);
            width: 22%;
            justify-content: center;
            text-align: center;
            align-items: center;
            display: block;
            height: 60px;
            border-radius: 10px;
            transition: transform 0.3s ease;
            p{
                text-align: center;
            }
        }

        li:hover {
            background: var(--beige);

            p {
                font-weight: bold;
            }
        }

    }


    .tarjetas-favoritos{

        box-sizing: border-box;
        padding: 30px;
        width: 100%;
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        @media (max-width: 1000px){grid-template-columns: 1fr 1fr;}
        @media (max-width: 600px){grid-template-columns: 1fr;}

        article {
            position: relative;
            box-sizing: border-box;
            border-radius: var(--radius);
            padding: 5px 20px;
            color: azure;
            box-shadow: 0 5px 10px #696D7D;

            figure{
                padding: 20px 0 0 0;
                margin: 0;

                img:not(nav img){
                    padding: 0;
                    margin: 0;
                    border-radius: var(--radius);
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                    object-position: top;
                }
            }
            h3{margin: 10px 0;}
            p{margin: 0 0 80px 0;
                padding: 0;
                font-size: var(--16);
                @media (max-width: 600px){
                    font-size: 14px;
                }
            }

            .iconos{
                position: absolute;
                box-sizing: border-box;
                bottom: 10px;
                display: inline-flex;
                justify-content: space-between;
                width: 90%;
                img{
                    padding: 0 5px;
                    width: 60px;
                    height: 60px;
                }
                img:hover{
                    filter: brightness(50%);
                }
            }
        }

        .un-local{
            background:#E6D585;
        }
        .un-lugar{
            background:var(--beige);
        }
        .un-plato{
            background:#A59D79;
        }
        .un-evento{
            background:#6D5130;
        }

    }


}