
.titulo-principal{
    text-align: center;
    padding:0;
}

figure{
    position: relative;
    margin: 0;
    padding: 60px 0 0;
    overflow-x: hidden;
    img{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100vw;
        max-height: 190px;
    }
}


.index-botoneras {
    background: var(--piel);
    border-radius: 10px;
    padding: 1% 5%;
    margin: 1% 12%;
    height: 180px;

    ul{
        width: 100%;
        margin: 0;padding: 0;
        height: fit-content;
        display: inline-flex;
        list-style: none;
        gap: 0.8%;
    }

    li{
        border:solid black 2px;
        background: var(--gris);
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
        height: 70px;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }
    .plusbutton{
        background: #BCC2DB;
        color: black;

    }
    li:hover{
        background: var(--grisclaro);
        a{
            color:black;
            font-weight: bold;
        }
    }

    a{
        text-decoration: none;
        display: flex;
        text-align: center;
        justify-content: center;
        height: 30%;
        padding: 10%;
        width: 100%;
        color:azure;
    }


}