:root {
    /*///////////////////////////////////////////////////////
    COLORES
    ///////////////////////////////////////////////////////*/
    --russian: #6F9283;
    --moss: #8D9F87;
    --beige: #CDC6A5;
    --piel: #F0DCCA;
    --gris: #696D7D;
    --grisclaro:#8B90A4;
    --fondomain:#FFFAF5;

    /*///////////////////////////////////////////////////////
    FUENTES
    ///////////////////////////////////////////////////////*/
    --48:48px;
    --32:32px;
    --24:24px;
    --16:16px;
    --12:12px;
    font-family: "Instrument Sans", sans-serif;

    --paddings:12%
}
p{
    font-size: 20px;
    text-align: justify;
}
.titulo-principal{
    text-align:center;
    p{
        text-align: center;
    }
}
h2{
    font-size: clamp(20px, 2vw, 30px);
    margin-bottom: 0;
    padding-bottom: 0;
}
h1{
    font-size: clamp(var(--24), 3vw, 40px);
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
a{
    font-size: 16px;
}

section{
    padding: 0 var(--paddings);
}

/*///////////////////////////////////////////////////////
    BODY
    ///////////////////////////////////////////////////////*/
body{
    margin: 0;
    padding:0;
    background: var(--fondomain);
}

main{
    margin:0;
    padding: 0;
}

figure{
    img{
        max-height: 300px;
    }
}

/*///////////////////////////////////////////////////////
    HEADER
    ///////////////////////////////////////////////////////*/
header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin: 0;
    background: var(--russian);
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: solid 3px black;
    a{
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
        height: 70px;
        border-radius: 10px;
        text-decoration: none;
        color:azure;
    }
    ul{
        width: 100%;
        margin: 0;
        padding: 0;
        height: fit-content;
        display: inline-flex;
        justify-content: flex-end;
        list-style: none;
        gap:clamp(0.2%,3vw,10%); /*min,bound,max*/
        li:first-child{
            margin-right: auto;
            padding: 0 30px;
            background: var(--russian) url('../../assets/images/general/catedralpng-b 1.svg') no-repeat 80% bottom;
            background-size: 3.5em;
            p:first-child{
                color:black;
                font-size: 28px;
                font-weight: bold;
                font-family: Consolas, serif;
            }
            p:last-child{
                color:var(--piel);
                font-size: 30px;
                font-weight: bold;
                font-family: "Brush Script MT", cursive;
                font-style: italic;
            }
            a:hover{
                p:first-child{
                    color:var(--piel);
                }
                p:last-child{
                    color:goldenrod;
                }

            }
        }
    }
    a:hover{
        color:black;
    }

}

footer{
    margin-top:5vh;
    height: 120px;
    display: flex;
    /*justify-content: space-between;*/
    color: var(--piel);
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 30px;
    position: relative;

    p:first-child{
        color:var(--piel);
        font-size: 28px;
        font-weight: bold;
        font-family: Consolas, serif;
    }
    p:nth-child(2){
        color:var(--piel);
        font-size: 28px;
        font-weight: bold;
        font-family: "Brush Script MT", cursive;
        font-style: italic;
    }

    background: black url('../../assets/images/general/catedralpng.svg') no-repeat 20% bottom;
    background-size: 7em;
    nav{
        padding-left: clamp(1vw,11%,50vw);
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    ul{
        border-left: solid 2px azure;
        margin: 0;padding:0;
        height: max-content;
        display:block;
        list-style: none;
        li{margin-left: 3px}
    }

    h3{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 10px 5px 0;
        margin: 0;
        font-size: 15px;
        color: grey;
    }

    a{      text-decoration: none;  color: var(--piel);}

    a:hover{color:azure;}

    h2{font-size: clamp(12px, 3vw, 24px);}

    .title-footer{font-weight: bold;}
   }
