@import url("./styles.css");

.banner {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;

    figure {
        box-sizing: border-box;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        max-height: 250px;
        padding: 0;
        margin: 0;
        width: 100%;
        filter: brightness(70%);

        img {
            width: 100%;
            object-fit: cover;
            object-position: top;
            min-height: 200px;
            max-height: 250px;
            filter: brightness(70%);
        }
    }

    h1 {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 30px;
        justify-content: center;
        text-align: center;
        color: azure;
    }

    button {
        position: absolute;
        height: 60px;
        width: 60px;
        cursor: pointer;
        border: none;
        border-radius: 100%;
        bottom: 25px;
        right: 5%;
        font-size: 24px;
        background: rgba(200, 200, 200, 80%);
    }
}

.descripcion {
    text-align: center;
    pre {
        white-space: pre-wrap;
        margin: 30px 0;
    }
}

@media (min-width: 800px) {


    .ubicacion, .horarios {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        box-sizing: border-box;
        border-radius: var(--radius);
        height: clamp(400px, 400px, 500px);

        box-shadow: var(--sombra);

        h2 {
            width: 100%;
            margin-left: 30px;
        }

        p {
            margin: 0 30px;
        }

        iframe {
            box-sizing: border-box;
            margin: 5%;
            width: 90%;
            border-radius: var(--radius);
            height: 60%;
        }

        ul {
            list-style-type: none;

            li {
                margin-bottom: 2%;

                strong {
                    font-size: 20px;
                }
            }

            li::before {
                content: "🔥";
                margin-right: 8px;
            }
        }

    }


    .horarios {
        background: var(--beige);
        margin: 0 5% 0 var(--paddings);
        width: 30%;
        overflow: auto;
        overflow-x: hidden;
    }


    .ubicacion {
        background: var(--moss);
        padding-bottom:20px ;
        margin: 0;
        width: 42%;
    }
}

.horarios::-webkit-scrollbar {
    padding: 1px;
    background: #716d55;
    border-radius: var(--radius);
    width: 10px;
}

.horarios::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}



.info-practica {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;

    margin: 0;

    ul {
        list-style: none;
        width: 100%;
        padding: 0;
        font-size: 20px;
        margin: 30px 0 60px;
    }

    a {
        background: var(--gris);
        width: 100%;
        padding: 30px 60px;
        border-radius: var(--radius);
        box-shadow: var(--sombra);
        color: azure;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        transition: background 0.3s ease, color 0.3s ease;
    }

    a:hover {
        background: var(--grisclaro);
        color: black;
        font-weight: bold;
    }
}



@media (max-width: 800px) {

    .info-practica{
        padding: 0 20px;
    }

    .descripcion {
        text-align: center;
        margin: 30px var(--paddings);
        padding: 0 30px;
        pre {
            white-space: pre-wrap;
        }
    }

    .ubicacion, .horarios {
        display: block;
        margin: 0 var(--paddings);
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: var(--radius);
        height: clamp(400px, 400px, 500px);
        box-shadow: var(--sombra);

        iframe {
            box-sizing: border-box;
            border-radius: var(--radius);
        }

        ul {
            list-style-type: none;
            li {
                strong {
                    font-size: 20px;
                }
                strong::after {
                    content: "\A   ";
                    white-space: pre;
                }
            }

            li::before {
                content: "🔥";
            }
        }

    }

    .horarios {
        background: var(--beige);
        overflow: auto;
        overflow-x: hidden;
        margin-bottom: 20px;
        height: fit-content;
    }

    .ubicacion {
        background: var(--moss);
        height: fit-content;

    }
}


.patrocinadores {
    box-sizing: border-box;
    width: 100%;

    h2 {
        width: 100%;
    }

    justify-content: center;
    flex-wrap: wrap;

    .logos {
        margin-top: 30px;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    figure, img {
        max-height: 80px;
        max-width: 150px;
        height: fit-content;
        width: fit-content;
        margin: 0 20px;
        padding: 0;
        @media (max-width: 800px) {
            max-height: 50px;
            max-width: 75px;
        }
    }
}

#carouselExample {
    margin: 0 var(--paddings);
    align-items: center;

    .carousel-inner {
        border-radius: var(--radius);
        box-shadow: var(--sombra);
    }

    img {
        width: 100%;
        height: 30vw;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
    }

    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }


    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        border:2px solid grey;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        padding: 20px;
        box-shadow: 0 5px 10px #696D7D;

    }

}


* {
    font-family: "Instrument Sans", sans-serif;
}

.banner {
    h1 {
        font-weight: 600;
    }
}

header {
    line-height: 1.15;
}

footer {
    height: 140px;

    ul li {
        line-height: 1;
    }
}

.descripcion {
    margin: 30px 0;
}

h2 {
    font-size: var(--24);
    margin: 15px 0;
    font-weight: bold;
}

.info-practica {
    margin: 30px 0 60px 0;
}

.recomendaciones-itinerario {
    margin: 15px 0;
}

.comentarios h2 {
    margin-top: 15px;
}


