@import "styles.css";

.plato-detalle {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;

    figure {
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
        margin: 0;
        width: 100%;
        filter: brightness(70%);
        object-fit: cover;
        object-position: center;
        max-height: 250px;

        img{
            width:100%;
            object-fit: cover;
            object-position: center;
            max-height: 250px;
            filter: brightness(80%);
        }
    }

    h1 {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 30px;
        justify-content: center;
        text-align: center;
        color: azure;
    }

    button {
        position: absolute;
        height: 60px;
        width: 60px;
        cursor: pointer;
        border: none;
        border-radius: 100%;
        bottom: 25px;
        right: 5%;
        font-size: 24px;
        background: rgba(200, 200, 200, 80%);
    }
}

.descripcion {
    text-align: center;
    padding: 0 5%;

    pre {
        white-space: pre-wrap;
        margin: 30px 0;
    }
}

.historia{
    box-sizing: border-box;
    background: var(--grisclaro);
    margin: 0 var(--paddings) 3% var(--paddings);
    width: auto;
    align-content: center;
    padding: 0;

    border-radius: var(--radius);
    min-height: 300px;
    max-height: 500px;
    height: auto;
    box-shadow: var(--sombra);

    h2 {
        box-sizing: border-box;
        width: 100%;
        margin-left: 30px;
    }

    p {
        margin: 15px 30px;
        font-size: var(--16);
    }
    overflow: auto;
    overflow-x: hidden;
}

.historia::-webkit-scrollbar {
    padding: 1px;
    background: var(--grisclaro);
    border-radius: var(--radius);
    width: 10px;
}

.historia::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}


.contenedor {
    display: flex;
    flex-direction: row;
    margin: 0 var(--paddings);
    padding: 0;
    justify-content: center;
    align-items: stretch;
    gap: 3%;
    width: auto;
    flex-wrap: nowrap;
}


.receta, .donde-probarlo {
    flex: 1;
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
    box-shadow: var(--sombra);
    border-radius: var(--radius);
    margin: 0;

    h2 {
        width: 100%;
        margin-left: 30px;
    }


    p {
        margin: 15px 30px;
        font-size: var(--16);
    }

    article p{
        font-size: 14px;
    }
}

.receta {
    flex: 2;
    padding: 0;
    margin: 0;
    background: var(--beige);
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.receta::-webkit-scrollbar {
    padding: 1px;
    background: var(--beige);
    border-radius: var(--radius);
    width: 10px;
}

.receta::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

.donde-probarlo{
    flex:1;
    padding: 0;
    margin: 0;
    background: var(--moss);
    width: 100%;
    overflow: auto;
    overflow-x: hidden;

    h2{
        width: 100%;
        margin-left: 30px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;

        li{
            margin-bottom: 10px;

            a {
                text-decoration: none;
                color: inherit;
                padding: 5px 10px;
                display: inline-block;
                transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
            }

            a:hover {
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                background-color: var(--russian);
            }
        }
    }
}

.donde-probarlo::-webkit-scrollbar {
    padding: 1px;
    background: var(--moss);
    border-radius: var(--radius);
    width: 10px;
}

.donde-probarlo::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

.comentarios{
    box-sizing: border-box;
    background: var(--gris);
    margin: 3% var(--paddings);
    padding: 0 0 2% 0;
    border-radius: var(--radius);
    height: auto;
    box-shadow: var(--sombra);
    align-content: center;

    h2{
        margin-left: 30px;
    }
    p{
        margin-left: 30px;
        font-size: var(--16);
    }
    form {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2fr;
        gap: 10px;
        max-width: 700px;
        margin: auto;
        align-items: center;
    }

    label {
        font-weight: 600;
        text-align: left;
    }

    input, textarea, button {
        padding: 8px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    textarea {
        height: 90px;
        resize: vertical;
    }

    label[for="nombre"] {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    input#nombre {
        grid-column: 2 / 4;
        grid-row: 1;
    }

    button {
        grid-column: 4 / 5;
        grid-row: 1;
        background-color: var(--grisclaro);
        color: black;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    label[for="comentario"] {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    textarea {
        grid-column: 2 / 5;
        grid-row: 2 / 5;
    }
}