@import url("./styles.css");

.card {
    background: #C1C1C1;
    margin: 0 0 20px 0;
    padding: 0;
    border-radius: var(--radius);
    display: inline-flex;
    width: 100%;
    height: 200px;
    box-shadow: 0 5px 10px #696D7D;

    figure:not(.iconos figure) {

        margin: 0 2.5% 0 7%;
        width: 30%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        img {
            border-radius: var(--radius);
            height: 70%;
            width: 100%;
            object-fit: cover;
        }
    }

    p {
        margin: 30px 0;
        display: flex;
        align-items: center;
        width: 30%;
    }

    h3 {
        margin: 30px 20px 30px 0;
        padding-right: 30px;
        font-size: 24px;
        display: flex;
        align-items: center;
        width: 20%;
        border-right: solid 2px black;
    }

    .iconos {
        width: fit-content;
        display: flex;
        align-items: center;
        img:hover{
            filter:brightness(10%);
        }
    }
}

.mas-info{
    display: flex;
    justify-content: space-between;
    .mapa-interactivo{
        box-shadow: 0 5px 10px #696D7D;
        border-radius: var(--radius);
        padding: 0;
        width: 50%;
        margin: 0;
        background: var(--moss);
        iframe{
            border-radius: var(--radius);
            width: 94%;
            margin: 20px;
        }
    }
    .suggestions, .consejo{
        box-shadow: 0 5px 10px #696D7D;
        width: 40%;
        border-radius: var(--radius);
        background: var(--beige);
        h2{
            text-align: center;
        }
        ul{
            list-style: none;
            margin: 20px 0 0;
            padding: 0;
            height: 75%;
        }
        li{
            display: flex;
            border-radius: var(--radius);
            background: var(--grisclaro);
            height: 25%;
            margin: 5px 30px;
            align-items: center;
            justify-content: center;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 100%;
                width: 100%;
                font-size: 20px;
                text-decoration: none;
                color: black;
            }
        }
        li:hover{
            background: var(--gris);
            a{
                text-decoration: none;
                color: white;
            }
        }
        p{
            padding: 0 60px;
        }
    }
}

