
    header {
        position: fixed;
        box-sizing: border-box;
        z-index: 1000;
        width: 100%;
        margin: 0;
        background: var(--russian);
        padding-left: 3vw;
        padding-right: 3vw;
        border-bottom: solid 3px black;

        a {
            width: 100%;
            justify-content: center;
            text-align: center;
            align-items: center;
            display: flex;
            height: 70px;
            border-radius: 10px;
            text-decoration: none;
            color: azure;
        }

        ul {

            width: 100%;
            margin: 0;
            padding: 0;
            height: fit-content;
            display: inline-flex;
            justify-content: flex-end;
            list-style: none;
            gap: clamp(0.2%, 3vw, 10%); /*min,bound,max*/

            li:first-child {
                background: var(--russian) url('../../assets/images/general/catedralpng-b 1.svg') no-repeat 80% bottom;
                background-size: 3.5em;

                p:first-child {
                    color: black;
                    font-size: 28px;
                    font-weight: bold;
                    font-family: Consolas, serif;
                }

                p:last-child {
                    color: var(--piel);
                    font-size: 30px;
                    font-weight: bold;
                    font-family: "Brush Script MT", cursive;
                    font-style: italic;
                }

                a:hover {
                    p:first-child {
                        color: var(--piel);
                    }

                    p:last-child {
                        color: goldenrod;
                    }

                }
            }
        }

        a:hover {
            color: black;
        }

    }
/*}*/
