
    header {
        position: fixed;
        z-index: 1000;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-right: 10px;
        background: var(--russian);
        border-bottom: solid 3px black;

        a {
            width: 100%;
            justify-content: center;
            text-align: center;
            align-items: center;
            display: flex;
            height: 70px;
            border-radius: 10px;
            text-decoration: none;
            color: azure;
            font-size: 15px;
        }

        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            height: fit-content;
            display: inline-flex;
            justify-content: center;
            list-style: none;
            gap: 0.5%; /*min,bound,max*/

            li:first-child {
                margin-right: 10px;
                background: var(--russian) url('../../../assets/images/general/catedralpng-b 1.svg') no-repeat 80% bottom;
                background-size: 3em;

                p:first-child {
                    color: black;
                    font-size: 20px;
                    font-weight: bold;
                    font-family: Consolas, serif;
                }

                p:last-child {
                    color: var(--piel);
                    font-size: 22px;
                    font-weight: bold;
                    font-family: "Brush Script MT", cursive;
                    font-style: italic;
                }

                a:hover {
                    p:first-child {
                        color: var(--piel);
                    }

                    p:last-child {
                        color: goldenrod;
                    }

                }
            }
        }

        a:hover {
            color: black;
        }

    }
