

    header {
        position: fixed;
        z-index: 1000;
        box-sizing: border-box;
        width: 100%;
        margin: 0;

        nav * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        ul {
            justify-items: center;
            background: rgba(165, 159, 128, 0.5);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);

            border-bottom: solid 3px black;
            list-style: none;
            padding-bottom: 5px;
        }

        li {
            width: 100%;
        }

        a {
            display: inline-flex;
            text-decoration: none;
            width: 100%;
            color: black;
            justify-content: center;
        }

        a:hover {
            font-weight: bold;
            color: azure;

        }

        li:first-child {
            background: var(--russian);
            display: block;
            width: 100%;
            margin-bottom: 5px;
            justify-items: center;
            border-bottom: solid 3px black;
            a {
                display: block;
                align-content: center;
                width: fit-content;
                height: 70px;
                color: azure;
                background: var(--russian) url('../../assets/images/general/catedralpng-b 1.svg') no-repeat 75% bottom;
                background-size: 3em;

                align-items: center;
            }

            p:first-child {
                display: inline-block;
                color: black;
                font-size: 25px;
                font-weight: bold;
                font-family: Consolas, serif;
            }

            p:last-child {
                display: inline-block;
                color: var(--piel);
                font-size: 28px;
                font-weight: bold;
                font-family: "Brush Script MT", cursive;
                font-style: italic;
            }

            a:hover {
                p:first-child {
                    color: var(--piel);
                }

                p:last-child {
                    color: goldenrod;
                }
            }
        }
    }
/*}*/
